* text=auto !eol
/Makefile -text
/README -text
/UnknownWords -text
/apertium-hbs-rus.hbs-rus.dix -text
/apertium-hbs-rus.hbs-rus.lrx -text
/apertium-hbs-rus.hbs-rus.t1x -text
/apertium-hbs-rus.hbs-rus.t2x -text
/apertium-hbs-rus.hbs-rus.t3x -text
/apertium-hbs-rus.post-hbs.dix -text
/apertium-hbs-rus.rus-hbs.lrx -text
/apertium-hbs-rus.rus-hbs.rlx -text
/apertium-hbs-rus.rus-hbs.t1x -text
/apertium-hbs-rus.rus-hbs.t2x -text
/apertium-hbs-rus.rus-hbs.t3x -text
/apertium-hbs-rus.rus.acx -text
/apertium-hbs-rus.rus.dix -text
/modes.xml -text
text/story.bhs.txt -text
text/story.rus.txt -text svneol=unset#application/octet-stream
